In [114]:
import pandas as pd

In [122]:
data1 = pd.read_csv('./dataset2.csv')

In [162]:
import pandas as pd
data = pd.read_csv('./datasetF.csv')
data.head(20)

     이름      조회수    좋아요  1차     조회수2   좋아요2  위스플  국적  2차
0   강혜원   339435   8805  25   340108   8810    1   1   4
1   권은비   364480   6778   5   364679   6788    1   1   5
2   김민주   180998   5115  15   181181   5119    1   1   6
3   김채원   171898   5027  28   172175   5036    1   1  15
4   박해윤    44986   1763  43    45127   1766    1   1  18
5   안유진   207048   6770   2   207235   6774    2   1   4
6   이가은   332150  10769   1   332274  10772    2   1   8
7   이채연   182384   8084  10   182590   8090    1   1  17
8   장원영   366803  11568   3   367342  11575    2   1   1
9   조유리   234954   7421  19   235784   7450    1   1  10
10  최예나   134702   4457   9   134991   4468    2   1  16
11  한초원   168449   5072  47   166828   5081    1   1   9
12  사쿠라  1512249  12646   4  1512650  12652    1   2   7
13   미호    78962   3355  21    79129   3360    1   2  27
14  시로마   123353   3862  16   123528   3866    1   2  13
15  시타오   425068   9357  36   425767   9370    1   2  22
16   나코   542986  21002   7   544434  21014    1   2   2
17   쥬리   156938   6212  18   157214   6225    1   2  20
18   미유   343293   7362  11   343513   7364    1   2  30
19  히토미   194482   7774  12   194662   7777    1   2  12

In [159]:
import pandas as pd
data = pd.read_csv('./datasetF.csv')
data.head(20)

import tensorflow as tf
X1 = tf.placeholder(tf.float32, [20,])
X2 = tf.placeholder(tf.float32, [20,])
X3 = tf.placeholder(tf.float32, [20,])
X4 = tf.placeholder(tf.float32, [20,])
X5 = tf.placeholder(tf.float32, [20,])
X6 = tf.placeholder(tf.float32, [20,])
X7 = tf.placeholder(tf.float32, [20,])
Y = tf.placeholder(tf.float32, [20,])

W1 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W2 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W3 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W4 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W5 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W6 = tf.Variable(tf.random_normal([20,], stddev=0.35))
W7 = tf.Variable(tf.random_normal([20,], stddev=0.35))


#W3 = tf.Variable(tf.random_normal([20,], stddev=0.35))

b1 = tf.Variable(tf.zeros([20,]))
name= data[data.columns[0]]
def current_rank(ranking):
    lis = []
    num=0
    for i in ranking:
        lis.append((i,name[num]))
        num+=1

    lis.sort()
    
    for i in lis:
        print (i)

data_1= data['조회수']
data_2= data['좋아요']
data_3= data['1차']
data_4= data['조회수2']
data_5= data['좋아요2']
data_6= data['위스플']
data_7= data['국적']
data_y= data['2차']
#Second = tf.matmul(W1, X1) + tf.matmul(W2,X2) + tf.matmul(W3,X3) + b1
Second =  W1*tf.log(X1) + W2*tf.log(X2) + W3*(X3) + b1+ W4*tf.log(X4) + W5*tf.log(X5)+ W6*(X6)  + W7*(X7) 
#cost = tf.reduce_mean((Second - Y))
cost = tf.reduce_mean(tf.sqrt(tf.pow((Second - Y),2.0)))
train =  tf.train.GradientDescentOptimizer(0.1).minimize(cost)

init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

#summary_writter = tf.summary.FileWriter('./tensorboard',sess.graph)

for i in range(4000):
    _, rr= sess.run([train,Second], feed_dict= { X1: data_1, X2: data_2, X3: data_3, X4: data_4,X5: data_5, X6: data_6,X7: data_7,Y: data_y})
    if i ==1 :
        current_rank(rr)
        print()
    if i == 100 or i==1000 :
        current_rank(rr)
        _, cc= sess.run([train,Second], feed_dict= { X1: data_1, X2: data_2, X3: data_3, X4: data_4,X5: data_5, X6: data_6,X7: data_7,Y: data_y})
        print ("cc: %s"%cc)
        print()
        
ranking = sess.run([Second], feed_dict= { X1: data_1, X2: data_2, X3: data_3, X4: data_4,X5: data_5, X6: data_6,X7: data_7,Y: data_y})

(-23.275919, '쥬리')
(-22.44802, '히토미')
(-13.711548, '강혜원')
(-12.425737, '미호')
(-11.191913, '사쿠라')
(-6.100439, '이채연')
(-5.9593134, '미유')
(-4.0499973, '시로마')
(-2.704889, '조유리')
(-2.055814, '장원영')
(1.733073, '김민주')
(2.251433, '안유진')
(3.0547583, '나코')
(3.1588392, '권은비')
(5.975609, '이가은')
(8.620312, '박해윤')
(13.927105, '한초원')
(16.099804, '김채원')
(16.392391, '최예나')
(26.81888, '시타오')

(0.045175, '나코')
(0.53640044, '장원영')
(0.69198895, '한초원')
(3.049865, '강혜원')
(4.577913, '안유진')
(5.068179, '김민주')
(5.7172112, '권은비')
(8.488983, '이가은')
(9.7286005, '조유리')
(9.984969, '김채원')
(9.996077, '사쿠라')
(10.945361, '히토미')
(12.782974, '시로마')
(13.856001, '최예나')
(17.79282, '시타오')
(19.014032, '쥬리')
(19.029701, '이채연')
(19.58742, '박해윤')
(25.068779, '미호')
(27.619564, '미유')
cc: [ 8.637003   3.1588397  8.403282  16.099806   8.620312   2.251432
  5.9756126 16.237463   3.1286144 13.873096  16.392391  13.927107
  6.969221  29.234833  16.149569  26.81888    3.0547583 22.858574
 30.672192  13.98112  ]

(2.251432, '안유진')
(3.0547583, '나코')
(3.1286144, '장원영')
(3.1588397, '권은비')
(5.9756126, '이가은')
(6.969221, '사쿠라')
(8.403282, '김민주')
(8.620312, '박해윤')
(8.637003, '강혜원')
(13.873096, '조유리')
(13.927107, '한초원')
(13.98112, '히토미')
(16.099806, '김채원')
(16.149569, '시로마')
(16.237463, '이채연')
(16.392391, '최예나')
(22.858574, '쥬리')
(26.818882, '시타오')
(29.234833, '미호')
(30.672192, '미유')
cc: [ 3.049865    5.7172112   5.068179    9.984969   19.58742     4.577913
  8.488983   19.029701    0.53640044  9.7286005  13.856001    0.69198895
  9.996077   25.068779   12.782974   17.79282     0.045175   19.014032
 27.619564   10.945361  ]

In [160]:
 lis = []
num=0
for i in ranking[0]:
    lis.append((i,name[num]))
    num+=1

    lis.sort()
  # lis.reverse()
for i in lis:
        print (i)

(0.045175, '나코')
(0.53640044, '장원영')
(0.69198895, '한초원')
(3.049865, '강혜원')
(4.577913, '안유진')
(5.068179, '김민주')
(5.7172112, '권은비')
(8.488983, '이가은')
(9.7286005, '조유리')
(9.984969, '김채원')
(9.996077, '사쿠라')
(10.945361, '히토미')
(12.782974, '시로마')
(13.856001, '최예나')
(17.79282, '시타오')
(19.014032, '쥬리')
(19.029701, '이채연')
(19.58742, '박해윤')
(25.068779, '미호')
(27.619564, '미유')

In [ ]:
data1s